<% content_for(:name, "Post | Super Special Awesome Blog") %>

<h1><%= @post.name %></h1>

<% if @post.contents.any? %>
  <ul>
    <% @post.contents.each do |content| %>
    <li>
      <%= content.description %> |
        <%= link_to "Edit", edit_post_content_path(@post, content) %> |
        <%= link_to "Delete", post_content_path(@post, content),
                                 :data => {:confirm => "Are you sure you want to delete all of this fantastical content?",
                                                :method => "delete"} %>                                   </li>
    <% end %>
  </ul>

  <% else %>
    <p>This post has no content yet!</p>
  <% end %>

<p><%= link_to "Add Content", new_post_content_path(@post) %></p>


<p><%= link_to "Edit", edit_post_path(@post) %></p>
<p><%= link_to "Delete", post_path(@post),
                         :data => {:confirm => "Are you sure you want to delete this fantastical post?",
                                   :method => "delete"} %></p>
<p><%= link_to "Return to Posts", "/" %></p>
